/**
 * Copyright (C) 2015  Valerii Kuznetsov <solival.xp@gmail.com>
 *
 * This program is free software: you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * (at your option) any later version.
 *
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU General Public License for more details.
 *
 * You should have received a copy of the GNU General Public License
 * along with this program.  If not, see <http://www.gnu.org/licenses/>.
 */

.movieinfo img.poster {
    float: right;
    margin: 0px 20px 0px 20px;
    border: none;
}

.movieinfo h2 span.year {
    color: gray;
    font-size: smaller;
}

.movieinfo p.overview {
    font-size: larger;
}

.movieinfo .content .name {
    font-weight: bold;
}

.movieinfo .content h4 {
    margin-top: 15px;
}

.movieinfo .cast {
    margin-top: 5px;
}
/**
 * Movie facts
 */
.movieinfo .facts {
    margin: 0;
    padding: 20px 10px;
    width: 260px;
    float: right;
    clear: right;
}

.movieinfo .facts .heading{
    font-weight: bold;
}
.movieinfo .facts dl {
  width: 100%;
  overflow: hidden;
  margin: 0;
}
.movieinfo dt {
  float: left;
  width: 50%;
}
.movieinfo dd {
  float: left;
  width: 50%;
}
